.header {
  text-align: center;
}

.header h1 {
  font-size: 2.5em;
  color: var(--secondary-color);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer p {
  color: var(--secondary-color);
  text-align: center;
}